form .input-wrapper{
    position: relative;
    margin-bottom: 13px;
    min-width: 100%;
}

form .input-wrapper .label{
    font-size: 16px;
    color: #888;
    position: absolute;
    top: 10px;
    left: 13px;
    transition: all .2s ease-in-out;
}

form .input-wrapper.active .label{
    font-size: 12px;
    top: -7px;
    background-color: #fff;
    padding: 0 5px;
    color: #29166f;
}

form .input-wrapper .input input{
    border: 1px solid #888;
    outline: none;
    border-radius: 4px;
    width: 100%;
    padding: 10px 13px;
    height: 40px;
    font-size: 16px;
}

form .input-wrapper.active .input input{
    border: 2px solid #29166f;
}

form .input-wrapper.icon .input input{
    padding: 10px 40px 10px 13px;
}

form .input-wrapper .input .icon{
    display: none;
}

form .input-wrapper.icon .input .icon{
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 13px;
    top: 8px;
}

form .input-wrapper.icon .input .icon svg{
    fill: #888;
}

form .input-wrapper.icon.active .input .icon svg{
    fill: #29166f;
}

form .input-wrapper .helper-text{
    padding-left: 13px;
    margin-top: 3px;
    font-size: 12px;
    color: #888;
}

@media (min-width: 1366px){
    form .input-wrapper{        
        min-width: 328px;
    }

    form button{
        width: 160px !important;
    }
}

.dark form .input-wrapper .input input {
    border: solid 1px #CFCFCF ;
}
.dark form .input-wrapper.active .label {
    background-color: #1A1A1A !important;
    color: #fff;
}

.dark form .input-wrapper .label {
    color: #CFCFCF;
}

.dark form .input-wrapper.active .input input {
    border: 2px solid #fff;
}

.dark form .input-wrapper.icon.active .input .icon svg{
    fill: #fff;
}