@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

body{
    overflow-x: hidden;
}

.site-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo-wrapper{
    margin-top: 111px;
    transform: translateX(-27.5px);
}
.form-wrapper{
    margin-top: 69px;
}
.form-wrapper.new{
    margin-top: 18px;
}
.form-wrapper form{
    display: flex;
    width: 316px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.form-wrapper.new form{
    width: 100%;
}
.form-wrapper form input{
    width: 100%;
    height: 40px;
}
.form-wrapper form a{
    margin-top: 11px;
    display: block;
    text-decoration: none;
    font-size: 12px;
}
.form-wrapper form button, nav.photos button{
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 36px;
    background-color: #29166f;
    border-radius: 4px;
    font-size: 14px;
    border: 0;
    outline: none;
}
.form-wrapper form button.login{
    width: 100%;
}
header, nav{
    width: 100%;
}
.site-header{
    width: 100%;
    height: 50px;
    background-color: #29166f !important;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* start menu and profile nav */
.menu{
    background-color: #29166f;
    width: 80%;
    height: 100vh;
    display: block;
    box-shadow: 0px 5px 11px 0px #000;
    transform: translateX(-110%);
    transition: transform .5s ease-in-out;
    will-change: transform;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 1000;
}

.profile {
    background-color: #29166f;
    width: 80%;
    height: 100vh;
    display: block;
    box-shadow: 0px 5px 11px 0px #000;
    transform: translateX(110%);
    transition: transform .5s ease-in-out;
    will-change: transform;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 1000;
}

.menu a, .profile a{
    text-decoration: none;
}

.menu a .link, .profile a .link{
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 2px solid #fff;
}

.menu a .link .icon, .profile a .link .icon{
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.menu a .link .text, .profile a .link .text{
    color: #fff;
    font-size: 18px;
}


.menu a .link .icon svg, .profile a .link .icon svg{
    fill: #fff;
}

.menu.opened , .profile.opened {
    transform: translateX(0);
}

/* end menu nav */

.site-header .app-nav{
    display: flex;
    align-items: center;
    width: 116px;
    
}
.site-header .app-nav .menu-icon{
    width: 26px;
    height: 26px;
    margin-right: 19px;
    cursor: pointer;
}
.site-header .app-nav .logo{
    display: flex;
    width: 71px;
    height: 37px;
}
.site-header .app-nav .logo img{
    height: 100%;
    
}
.site-header .app-nav .menu-icon svg{
    fill: #fff;
}
.site-header .user-nav{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
}
.site-header .user-nav .profile-img{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.site-header .user-nav .profile-img img{
    height: 100%;
    
}

.site-content{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

.site-content.center{
    align-items: center;
}

.site-content .title{
    margin-top: 43px;
}

.site-content .title h1{
    font-size: 24px;
}

.site-content nav.actions{
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.site-content nav.actions a{
    text-decoration: none;
}

.site-content nav.actions a .action{
    width: 156px;
    height: 156px;
    border-radius: 8px;
    margin-bottom: 19px;
    background-color: #29166f;
    padding-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.site-content nav.photos{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.site-content nav.photos .photos-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.site-content nav.photos .photos-button textarea{
    border: 2px solid #29166f;
    outline: none;
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
}

.site-content nav.photos .photo-wrapper{
    width: 102px;
    height: 78px;
    border: 2px solid #29166f; 
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
    background: url("https://via.placeholder.com/102x78");
    padding-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.site-content nav.photos .text{
    text-align: center;
    width: 102px;
    margin-top: 10px; 
    font-size: 14px; 
}

.site-content nav.photos input[type="file"] {
    display: none;
}
.site-content nav.photos input {
    width: 100%;
    height: 40px;
}


/*.site-content nav.photos .input-wrapper {
    position: relative;
    margin-bottom: 13px;
    min-width: 100%;
}

.site-content nav.photos .input{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

.site-content nav.photos .label{
    font-size: 16px;
    color: #888;
    position: absolute;
    top: 10px;
    left: 13px;
    transition: all .2s ease-in-out;
}*/

nav.actions a .action .icon{
    width: 66px;
    height: 66px;   
}

nav.actions a .action .icon svg{
    fill: #fff;  
    
}

nav.actions a .action .text{
    color: #fff;
    text-align: center;
    margin-top: 11px;
    font-size: 18px;
    max-width: 120px;
    
}

form .profile-file-input{
    position: relative;
    width: 72px;
    cursor: pointer;
    height: 72px;
    margin-bottom: 18px;
    border-radius: 50%;
    background-color: rgba(41, 22, 111, .3);
}

form .profile-file-input .icon-pencil{
    width: 24px;
    height: 24px;
    fill: #fff;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

form input[type="file"]{
    display: none;
}

.results-wrapper{
    margin-top: 40px;
}

.results-wrapper .result:last-child{
    margin-bottom: 0;
}

.results-wrapper .result{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    background-color: #29166f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 13px;
    margin-bottom: 18px;
}

.results-wrapper .result.disabled, .results-wrapper .result.disabled *{
    opacity: 0.7;
    cursor: not-allowed !important;
}

.results-wrapper .result .name{
    font-size: 16px;
    color: #fff;
    
}

.results-wrapper .result .actions{
    display: flex;
    
}

.results-wrapper .result .actions div{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.results-wrapper .result .actions .desable{
    margin-left: 11px;
}

.results-wrapper .result.disabled .actions .desable{
    display: none;
}

.results-wrapper .result .actions div svg{
    fill: #fff;
    
}

.form-box{
    border: 2px;
    border-color: #29166f;
}

.site-content nav.actions button{
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 36px;
    background-color: #29166f;
    border-radius: 4px;
    font-size: 16px;
    border: 0;
    outline: none;
    
}

@media (min-width: 1366px) {
    .form-wrapper form button.login{
        width: 100% !important;
    }
    .site-header{
        height: 60px;
        padding: 12px 40px;
    }

    /* start menu and profile nav */
    .menu, .profile{
        width: 400px;
        margin-top:10px
    }
    .menu a .link, .profile a .link{
        padding: 20px;
    }
    .menu a .link .icon, .profile a .link .icon{
        width: 36px;
        height: 36px;        
    }
    .menu a .link .text, .profile a .link .text{
        font-size: 24px;
    }
    /* end menu nav */
    .site-header .app-nav{
        width: 144px;
    }
    .site-header .app-nav .logo{
        width: 97px;
        height: 50px;
    }
    .site-header .user-nav{
        width: 36px;
        height: 36px;
    }
    .site-header .user-nav .profile-img{
        width: 36px;
        height: 36px;
    }

    .site-content{
        padding: 0 39px;
    }
    .site-content .title{
        margin-top: 25px;
    }
    .site-content .title h1{
        font-size: 48px;
    }
    
    .site-content nav.actions{
        max-width: 1366px;
        justify-content: flex-start;  
    }
    
    .site-content nav.actions a {
        width: 273px;
        height: 162px;
        display: block;
        margin: 20px;
    }
    .site-content nav.actions a .action{
        width: 100%;
        height: 100%;
        padding-top: 25px;
    }
    nav.actions a .action .text{
        margin-top: 23px;
        max-width: 100%;
    }

    .site-content nav.photos .photos-wrapper{
        width: 440px;
        justify-content: flex-start;
    }

    .site-content nav.photos .photos-button{
        width: 385px;
        margin: 0 20px;
    }

    .site-content nav.photos .photos-wrapper .photo{
        margin: 20px;
    }
    
    form .profile-file-input{
        margin-right: calc(100% - 72px);
    }

    .form-wrapper.new form{
        width: 679px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    form .input-wrapper.search{
        min-width: 672px;
    }

    .results-wrapper{
        width: 672px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .results-wrapper .result{
        max-width: 328px;
    }
    
    .site-content nav.actions .action{

        margin-right: 100px;
    }

    .site-content nav.actions button{
        width: 200px !important;
        margin-top: 120px;
        
    }
}

/* Dark Mode */

/*
Perguntar pro Everton, pra escrita dentro do input, se é melhor assim ou da outra maneira
.dark *{
    color: #CFCFCF;
}
*/

.dark{
    background-color: #1A1A1A;
}


.dark .site-header{
    border-bottom: solid 1px #2F2F2F;
}



.dark .form-wrapper form button {
    color: #CFCFCF;
    border: solid 1px #2F2F2F ;
    transition: 0.5s;
}


.dark .site-content .title h1{
    color: #CFCFCF;
}


.dark .menu, .dark .profile{
    background-color: #1A1A1A;
}

.dark form .profile-file-input{
    background-color: #1F1F1F;
    border: solid 1px #CFCFCF ;
    
}

.dark .site-content nav.photos .text{
    color: #CFCFCF ;
}

.dark form .profile-file-input .icon-pencil{
    fill: #CFCFCF;
    background-color: rgba(0, 0, 0, 0);
}

.dark .site-content nav.actions a .action{
    border: solid 1px #2F2F2F ;
}

.dark .site-content nav.photos .photo-wrapper {
    background: url(https://via.placeholder.com/102x78/2C2C2C);
    border: solid 1px #2F2F2F ;
}

.dark .site-content nav.photos .photos-button textarea{
    background-color: #2C2C2C;
    color: #CFCFCF;
    border: solid 1px #2F2F2F ;
}

.profile .icon svg use{
    display: none;
}

.dark .profile .icon svg use:nth-child(1){
    display: none;
}

.dark .profile .icon svg use:nth-child(2){
    display: block;
}

.profile .icon svg use:nth-child(1){
    display: block;
}

/* alto contraste */

.contrast *{
    background-color: #000000;
    color: #FFFFFF;
}

.contrast{
    background-color: #000000;
}

.contrast .site-wrapper{
    background-color: #000000; /*não importante*/
}
.contrast .site-wrapper .site-header{
    border-bottom: solid 1px #FFF000;
}
.contrast .site-wrapper .site-header .app-nav{
    background-color: #000000;
}
.contrast .site-wrapper .site-header .app-nav .logo img{
    background-color: #000000;
}
.contrast .site-header .user-nav .profile-img img{
    background-color: #000000;
}
.contrast .site-header .app-nav .menu-icon svg{
    fill: #CFCFCF;
}

.contrast .form-wrapper form button{
    background-color: #000000;
    border: solid 1px #FFF000;
}
.contrast .site-content nav.photos button{
    background-color: #000000;
    border: solid 1px #FFF000;
}
.contrast form .profile-file-input{
    background-color: #1F1F1F;
    border: solid 1px #CFCFCF;
    
}

.contrast form .profile-file-input .icon-pencil{
    fill: #CFCFCF;
    background-color: rgba(0, 0, 0, 0);
}

.contrast form .profile-file-input .icon-pencil svg {
    background-color: rgba(0, 0, 0, 0);
}

.contrast .site-wrapper .site-content nav.actions a .action{
    background-color: #000000;
    border: solid 1px #FFF000;
}
.contrast .site-wrapper .site-content nav.actions a .action .text{
    background-color: #000000;
}
.contrast .site-wrapper .site-content nav.actions a .action .icon svg{ /*ver linha 180 que força o fundo original*/
    background-color: #000000;
}

.contrast .form-wrapper .profile-file-input{
    background-color: #000000;
    border: solid 1px #FFFFFF;
}
.contrast .form-wrapper{
    color: #FFFFFF;
}
.contrast .form-wrapper .label{
    color: #FFFFFF;
}
.contrast .form-wrapper .input{
    color: #FFFFFF;
}
.contrast .form-wrapper .helper-text{
    color: #FFFFFF;
}
.contrast .results-wrapper .result{
    background-color: #000000;
    border: solid 1px #FFF000;
}

/* ativar alto contrast */
.toggle-contrast {
    margin-left: 10px;
}

.toggle-contrast input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle-contrast label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: #1A1A1A;
    float: right;
    border-radius: 100px;
    position: relative;
}

.toggle-contrast label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.toggle-contrast input:checked + label {
    background: #FFF500;
}

.toggle-contrast input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

.toggle-contrast label:active:after {
    width: 45px;
}