@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

.site-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.logo-wrapper{
    margin-top: 111px;
    transform: translateX(-27.5px);
}
.form-wrapper{
    margin-top: 69px;
}
.form-wrapper.new{
    margin-top: 18px;
}
.form-wrapper form{
    display: flex;
    width: 316px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.form-wrapper form input{
    width: 100%;
    height: 40px;
}
.form-wrapper form a{
    margin-top: 11px;
    display: block;
    text-decoration: none;
    font-size: 12px;
}
.form-wrapper form button{
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    height: 36px;
    background-color: #29166f;
    border-radius: 4px;
    font-size: 14px;
    border: 0;
    outline: none;
}
header, nav{
    width: 100%;
}
.site-header{
    width: 100%;
    height: 50px;
    background-color: #29166f;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header .app-nav{
    display: flex;
    align-items: center;
    width: 116px;
}
.site-header .app-nav .menu-icon{
    width: 26px;
    height: 26px;
    margin-right: 19px;
}
.site-header .app-nav .logo{
    display: flex;
    width: 71px;
    height: 37px;
}
.site-header .app-nav .logo img{
    height: 100%;
}
.site-header .app-nav .menu-icon svg{
    fill: #fff;
}
.site-header .user-nav{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.site-header .user-nav .profile-img{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.site-header .user-nav .profile-img img{
    height: 100%;
}

.site-content{
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

.site-content.center{
    align-items: center;
}

.site-content .title{
    margin-top: 43px;
}

.site-content .title h1{
    font-size: 24px;
}

.site-content nav.actions{
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.site-content nav.actions a{
    text-decoration: none;
}

.site-content nav.actions a .action{
    width: 156px;
    height: 156px;
    border-radius: 8px;
    margin-bottom: 19px;
    background-color: #29166f;
    padding-top: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

nav.actions a .action .icon{
    width: 66px;
    height: 66px;   
}

nav.actions a .action .icon svg{
    fill: #fff;   
}

nav.actions a .action .text{
    color: #fff;
    text-align: center;
    margin-top: 11px;
    font-size: 18px;
    max-width: 120px;
}

form .profile-file-input{
    position: relative;
    width: 72px;
    cursor: pointer;
    height: 72px;
    margin-bottom: 18px;
    border-radius: 50%;
    background-color: rgba(41, 22, 111, .3);
}

form .profile-file-input .icon-pencil{
    width: 24px;
    height: 24px;
    fill: #fff;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

form input[type="file"]{
    display: none;
}

@media (min-width: 1366px) {
    .site-header{
        height: 60px;
        padding: 12px 40px;
    }
    .site-header .app-nav{
        width: 144px;
    }
    .site-header .app-nav .logo{
        width: 97px;
        height: 50px;
    }
    .site-header .user-nav{
        width: 36px;
        height: 36px;
    }
    .site-header .user-nav .profile-img{
        width: 36px;
        height: 36px;
    }

    .site-content{
        padding: 0 39px;
    }
    .site-content .title{
        margin-top: 25px;
    }
    .site-content .title h1{
        font-size: 48px;
    }
    
    .site-content nav.actions{
        max-width: 1366px;
    }
    
    .site-content nav.actions a .action{
        width: 273px;
        height: 162px;
        padding-top: 25px;
    }
    nav.actions a .action .text{
        margin-top: 23px;
        max-width: 100%;
    }
}