*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}
.menu-wrapper{
    width: 100%;
    display: relative   ;
}
.menu-wrapper.perfil{
    width: 100%;
}

.menu-wrapper.perfil .menu-perfil{
    width: 200px;
    height: 100vh;
    background-color: #29166f;
    position: absolute;
    left: 178px;
    
}

.menu{
    width: 200px;
    height: 100vh;
    background-color: #29166f;
}
.menu-wrapper .menu .menu-header{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 150px;
    
   
}
.menu-wrapper .menu .menu-header .menu-icon{
    width: 26px;
    height: 26px;
    margin-right: 10px;
      
}

.menu-wrapper .menu .menu-header logo{
    width: 71px;
    height: 36px;
    display: flex;  
}

.menu-icon svg{
    fill: #fff;
}

.menu-wrapper .menu-content a{
    text-decoration:none;
}

.menu-content .menu-services .services{
    display: flex;
    align-items: flex-start;
    
}

.menu-content .icon{
    width: 26px;
    height: 26px;
    margin-left: 4px;
    margin-top: 40px;
}
.menu-content .icon svg{
    fill: #fff;
}

.menu-content nav  .text{
    color: #fff;
}

.menu-content nav .register{
    color: #fff;
}

.menu-content nav .view{
    color: #fff;
}

.menu-content .menu-users .users{
    display: flex;
    width: ;
    
    
}